$title-fg-title: #404040;
$title-fg-p: #606060;
$title-bg: #F0F0F0;
$title-bg-hover: #E0E0E0;

.posts {
  list-style-type: none;
  margin: 0;

  .post {
    margin: 1rem 0;
    background-color: $title-bg;
    border: $title-bg-hover solid 1px;
    border-radius: 4px;
    padding: 1rem;

    h2 {
      font-size: 1.3rem;
      font-weight: bold;      
      margin-bottom: 0;
      a {
        color: $title-fg-title;      
        text-decoration: none;
        display: block;
      }      
    }

    p {
      color: $title-fg-p;
      font-size: .8rem;
      font-style: italic;
    }
  }

  .post:hover {
    background-color: $title-bg-hover;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1200ms;
  }
}
